<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
  <a class="skip_main" href="#main">Skip to main content</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarContents" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/patients"><img class="img-logo" src="/images/IntusCareLogo.png"  alt="Intus Care Logo"></a>
  <div class="collapse navbar-collapse" id="navbarContents">
  <div class="nav navbar-nav ml-auto">
    <div class="navbar-nav navbox">
        <a class="nav-item nav-link" onclick="alertNonFunctional()" href="#" id="home_button">Caregivers
          </a>
          <a class="nav-item nav-link active" href="/patients" id="safety-plan_button" role="navigation">Patients <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" href="/" id="contacts_button" role="navigation">Log out
          </a>
          <a class="icon" href="#">
            <i onclick="alertNonFunctional()" class="fa fa-cog fa-3x" aria-hidden="true"></i>
        </a>
      </div> 
  </div>
</div> 
</nav>
</header>

<div class="wrapper">
    <div class="column-patient">
        <div class="row-patientpage patients-title-box" role="main" id="main" tabindex="-1">
            <div class="column-patient">
            <div class="patient-title">
                Patients
            </div> 
            </div>
            <div class="column-patient">
                <form class="example" action="">
                    <input type="text" placeholder="Search.." name="search2" id="search-box">
                    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                </form>
                
            </div>
        </div>

        <!-- Render patient boxes here -->
        {{{ patients }}}

    </div>
</div>




<script>
function alertNonFunctional() {
  alert("This button is nonfunctional. This is a function already implemented on the client's preexisting application (IntusCare Manager Portal).");
}
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <!-- With locals-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" ></script>
<!-- Without locals-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" ></script>
<script src="/js/patientsPage.js" type="module"></script>